

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 15px;
  background-image: linear-gradient(purple, #4d0099);
  position: relative;

}

.container-fluid {
  background-color: white;
}

/* NAVIGATION */
nav {
  border-bottom: 5px solid purple;
  text-transform: uppercase;
  background-color: white;

}

nav li {
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: .3rem;
  padding-left: 10px;
}

.nav-link {
  font-size: 1.25rem;
}

.nav-item a:hover {
  color: #4d0099 !important;

}

/* HEADER */
.header {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .30rem;
  text-transform: uppercase;
  padding: 60px 0;
}

.title {
  font-size: 3.5rem;
}

/* IMAGE BOX */
.photo {
   padding: 20px;
   width: 700px;
   height: auto;
   z-index: -1;
 }

#border {
  margin-top: 10px;
  border: 2px solid purple;
}

/* CARDS */

.card-group {
  margin: 15px 0px;
}


.border-dark {
  background-color: white;
  color: black;
}


/* ABOUT */
.aboutc {
  font-family: 'Bebas Neue', cursive;
  font-size: 4.5rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #4d0099;
}

.about {
  font-size: 1.25rem;
}

#section2 {
  margin-top: 40px;
  padding-top: 80px;
  border-top: 1.75px solid purple;
}

#section3 {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1.75px solid purple;
  border-bottom: 1.75px solid purple;
}


.calvin {
  margin-top: 30px;
}

.quote1 {
  line-height: 40px;
  color: purple;
  letter-spacing: .25rem;
}

.quote {
  text-transform: uppercase;
}
/* FOOTER */

footer p {
  line-height: 25px;
}


.footer-top li a:hover {
  background-color: purple;
  color: white;
}

.footer-top {
  background-color: white;
  margin: 5px;
  padding: 40px 0;
  text-transform: uppercase;
}

.section-one .section-two .section-three .section-four {
  padding: 10px 5px;
}



.section-one h3 {
  font-weight: bold;
  text-shadow: .5px .75px purple;
  letter-spacing: .20rem;
}

.section-two h3:before {
  content: '|';
  color: purple;
  padding-right: 10px;
}

.section-two ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-two ul li {
  border-bottom: 1px solid purple;
  line-height: 30px;
}

.section-two ul li a {
  color: black;
  text-decoration: none;
}

.section-three h3:before {
  content: '|';
  color: purple;
  padding-right: 10px;
}

.section-three a {
  background: #4d0099;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.section-three a:hover {
  background-color: purple;
}

.section-three a i {
  font-size: 20px;
  color: white;
  padding: 10px 12px;
}


.section-four h3:before {
  content: '|';
  color: purple;
  padding-right: 10px;
}
